mixin fields(args)
        if args.modificator === 'hovered-focused'
            div(class= 'text-field ' + 'text-field_hovered-focused')
                if args.title ||  args.comment
                    div.text-field__desc
                        if args.title
                            p.desc__title= args.title
                        if args.comment
                            p.desc__comment= args.comment
                div.text-field__field
                    input(class= 'field ' + 'field_hovered-focused' placeholder= args.placeholder type=args.type)         
        else if args.modificator === 'subscription'
            form.subscription__form
                div(class= 'text-field ' + 'text-field_subscription')
                    if args.title ||  args.comment
                        div.text-field__desc
                            if args.title   
                                p.desc__title= args.title
                            if args.comment
                                p.desc__comment= args.comment
                    div(class= 'text-field__field' + '_subscription')
                        input(class= 'field' + '_subscription' placeholder= args.placeholder type=args.type)
                        button(class= 'field__arrow-box ' + 'field__arrow-box_subscription')
                            span.arrow-box_subscription= 'arrow_forward'
        else    
            div(class= 'text-field ' + 'text-field_default')
                if args.title ||  args.comment
                    div.text-field__desc
                        if args.title  
                            p.desc__title= args.title
                        if args.comment
                            p.desc__comment= args.comment
                div.text-field__field
                    input(class= "field" placeholder= args.placeholder type=args.type)