include ../../components/buttons/button.pug

mixin dropdown-class(args)
    -var className= 'dropdown-' + args.size

    div(class= (args.status ? className : className + '-ex') id=args.id type=args.type)
        div(class=className + '__header')
            .header__title= args.title
            .header__desc= args.comment
        div(class=className + '__field-and-content')
            div(class=className + '__field')
                div(class='field__text-field_' + args.size + args.status + (args.borders ? args.borders: '') id=args.id type=args.type)
                    .text-field__placeholder
                        span.text-field__placeholder-text(id=args.id)= args.placeholder
                    .text-field__chekmark
                            span.text-field__placeholder-checkmark &#xe5cf;
            if args.content
                div(class=className + '__content-wrapper_' + args.size id=args.id)
                    div(class=className + '__content_' + args.size id=args.id style= args.view===false ? 'display:none' : '')
                        each key, val in args.content
                            div.content__item(id=args.id)
                                span.item__name(id=args.id)=`${val}`
                                div(class = 'item__count' + args.type id=args.id)
                                    div.count__minus(id=args.id)='-' 
                                    span.item__key(id=args.id)= `${key}`
                                    div.count__plus(id=args.id)='+'
                        if args.clear || args.apply
                            div.content__item
                                div.buttns
                                    if args.clear
                                        div.btn__clear
                                            +button({theme: '_unbordered', font: '_color-font clear', placeholder: 'очистить', size: 'small', isArrow: false})
                                    if args.apply
                                        div.btn__apply
                                            +button({theme: '_unbordered', font: '_color-font', placeholder: 'применить', size: 'small', isArrow: false})