mixin pie-chart(props)
    .pie-chart-wrapper
        .pie-chart-container
            .pie-chart-bg
            .pie-chart-slice(id="pie-Slice-One")
                .slice
            .pie-chart-slice(id="pie-Slice-Two") 
                .slice
            .pie-chart-slice(id="pie-Slice-Three")
                .slice
            .pie-chart-inner 
                .pie-chart-inner-content
                    p.content-number="260"
                    p.content-text="голосов"
        .pie-chart-desc 
            ul.pie-chart-desc-rates 
                li.rates-highest
                    span.rates-highest-text="Великолепно"
                li.rates-high="Хорошо"
                li.rates-low="Удовлетворительно"
                li.rates-lowest="Разочарован"